[submodule "upstream/repo-to-markdown"]
	path = upstream/repo-to-markdown
	url = https://github.com/puter-apps/repo-to-markdown.git
[submodule "upstream/markitdown"]
	path = upstream/markitdown
	url = https://github.com/microsoft/markitdown.git
[submodule "upstream/llmwiki"]
	path = upstream/llmwiki
	url = https://github.com/lucasastorian/llmwiki.git
[submodule "upstream/openviking"]
	path = upstream/openviking
	url = https://github.com/volcengine/OpenViking.git
[submodule "upstream/otterwiki"]
	path = upstream/otterwiki
	url = https://github.com/redimp/otterwiki.git
[submodule "upstream/knowledge-catalog"]
	path = upstream/knowledge-catalog
	url = https://github.com/GoogleCloudPlatform/knowledge-catalog.git
[submodule "upstream/akash-provider"]
	path = upstream/akash-provider
	url = https://github.com/akash-network/provider
[submodule "upstream/salad-job-queue-worker"]
	path = upstream/salad-job-queue-worker
	url = https://github.com/saladtechnologies/salad-cloud-job-queue-worker
[submodule "upstream/targon"]
	path = upstream/targon
	url = https://github.com/manifold-inc/targon
[submodule "upstream/zcn-blobber"]
	path = upstream/zcn-blobber
	url = https://github.com/0chain/blobber.git
[submodule "upstream/btfs"]
	path = upstream/btfs
	url = https://github.com/bittorrent/go-btfs.git
